<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head'); %>
    <title>OAuth Login</title>
</head>
<body>
    <%- include('partials/navigation2'); %>
    <header>
        <h3>Log in to your account using ...</h3>
    </header>
    <main>
        <li><a class="google-btn" href="/auth/google">Google+</a></li>
    </main>
</body>
</html>